p,
address {
  margin-bottom: 0;
}

.main-footer {
  padding-top: 1.875rem;
}
.footer-top {
  margin-left: 1rem;
}

.nom {
  margin-bottom: 0.625rem;
}

.tel {
  margin-bottom: 1.25rem;
}

.logo {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 1.25rem;
}

.lien-titre,
.projet-titre,
.article-titre {
  margin-bottom: 0.625rem;
}

.container-liste {
  list-style-type: none;
  padding: 0 0 0 0.5rem;
}

.liste-liens {
  text-decoration: none;
  color: #444;
}

.container-liste li::before {
  content: ">";
  margin-right: 0.3125rem; /* Espacement entre le symbole et le texte */
  color: #0d6efd;
  font-weight: 900;
}

.liste-liens:hover {
  color: rgba(255, 255, 255, 0.8);
}

.footer-bottom {
  background-color: #000;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #eee;
}
